* {
    color: var(--text-color);
    background-color: var(--back-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    /* Body Background color */
    --back-color: black;
    /* Body text color */
    --text-color: white;
    /* Header/Footer Background Color */
    --head-foot: white;
    /* Header/Footer text color */
    --hf-text: black;
    /* Accent color */
    --acc-color: darkblue;
}

/* Organize header and header elements */
#header, .header, .av-square, .title {
    background-color: var(--head-foot);
    color: var(--hf-text);
    /* font-size: 50%; */
}

.avatar {
    max-width: 100px;
    max-height: auto;
    margin: 5px;
    /* Make the avatar icon a circle */
    border-radius: 50%;
}

#title {
    background-color: var(--head-foot);
    color: var(--hf-text);
}

.custom-navbar, .custom-navbar ul, .custom-navbar ul li {  
    background-color: var(--head-foot);
    color: var(--hf-text);
}


.custom-navbar ul li {
    display: inline-block;
    /* font-size: 3vw; */
    
}

.nav-link {
    display: inline-block;
    background-color: var(--head-foot);
    color: var(--hf-text);
    /* margin: 10px; */
}

.nav-link:hover {
    color: var(--acc-color);
}

#about-text {
    padding: 5px 5px 30px 5px;
    font-size: 24px;
}

.a-about, #toabout {
    background-color: var(--acc-color);
}

#toabout {
    text-decoration: underline;
    float: right;
}

/* Organize the "my work" section. */
.a-work, #towork {
    background-color: var(--acc-color);
}

#towork {
    text-decoration: underline;
    float: right;
}

.projects {
    padding-bottom: 30px;
}

.mywork img {
    width: 100%;
    object-fit: contain;
}

.mywork header {
    font-size: 2rem;
    text-align: center;
    background-color: var(--acc-color);
    padding: 2% 0%;
}

/* First project will be set above the others and take up a wider space. */
.projectOne {
    margin: 0% 2%;
    /* Complex method of getting notched corners on projects*/
    overflow: hidden;
    clip-path: polygon(
    0 10%,
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0% 90%,
    0% 10%
    );
}

.proj-head {
    height: 30%;
}

.card {

    /* Complex method of getting notched corners on projects*/
    overflow: hidden;
    clip-path: polygon(
    0 10%,
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0% 90%,
    0% 10%
    )
}

.card a {
    text-decoration: none;
}

.a-contact, #tocontact {
    background-color: var(--acc-color);
}

#tocontact {
    text-decoration: underline;
    float: right;
}

.contactInfo {
    padding-bottom: 30px;
}

.contactInfo img {
    height: 100px;
    width: auto;
}

.icons {
    text-align: center;
}

/* Make the round icons round. */
#linkedin, #github {
    height: 100px;
    width: auto;
    border-radius: 50%;
}

/* Organize footer at the bottom of the screen. */
footer {
    text-align: center;
    background-color: var(--head-foot);
    color: var(--hf-text);
    padding-bottom: 1%;
    margin-top: 1%;
}

footer p {
    background-color: var(--head-foot);
    color: var(--hf-text);
}

footer p span{
    background-color: var(--head-foot);
    color: var(--hf-text);
}

@media screen and (max-width: 780px) {
   #toabout, #towork, #tocontact {
       float: none;
   }

   .a-about, .a-work, .a-contact {
       text-align: center;
   }
}